{% extends "page.html" %}

{% block title %} Blog {% endblock %}

{% block page_content %}
<h1>
  <a>#</a>
  Blog
</h1>
<div class="flex flex-col gap-8">
  {% for Post { id: i, title, written } in posts %}
  <a href="/blog/{{i}}" class="flex flex-col gap-2">
    <div class="text-lg font-semibold">{{ title }}</div>
    <div class="flex justify-between items-baseline text-sm">
      <div class="text-secondary font-mono">{{ i|id }}</div>
      <div>{{ written }}</div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}