{% macro render_source(source) %}
{% match source %}
{% when Source::GitHub with { link } %}
<a href="{{ link }}" target="_blank">
  <i class="nf nf-fa-github text-2xl m-2"></i>
</a>
{% else %}
{% endmatch %}
{% endmacro %}


{% macro render(i, name, description, source) %}

<div class="p-4 rounded flex flex-col border-white border-2 gap-2">
  <div class="flex justify-between items-center">
    <div class="flex flex-col">
      <span class="font-bold text-xl">{{ name }}</span>
      <span class="text-secondary text-sm font-mono">{{ i|id }}</span>
    </div>
    {% call render_source(source) %}
  </div>
  <div class="flex-1 project-description">
    {{ description|markdown }}
  </div>
</div>

{% endmacro %}