<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/fonts/fira_code.css">
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">

  <!-- SCRIPTS -->
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  <script src="assets/js/darkMode.js"></script>
</head>

<body onload="applyColorSchemePreference()">
  {% block content %}<p>Placeholder content</p>{% endblock %}
</body>

</html>