<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/fonts/fira_code.css">
  <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">

  <!-- SCRIPTS -->
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  <script src="/assets/js/darkMode.js"></script>

  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/icons/site.webmanifest">
  <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>

<body onload="applyColorSchemePreference()" class="flex flex-col min-h-screen dark:bg-zinc-900 dark:text-white">
  <header>
    {% include "components/navigation.html" %}
  </header>
  <hr>
  <main class="flex-1 flex flex-col container mx-auto">
    {% block content %}<p>Placeholder content</p>{% endblock %}
  </main>
  <hr>
  <footer>
    {% include "components/footer.html" %}
  </footer>
</body>

</html>